* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    color: #131318;
    overflow-x: hidden;
}

/* * Navbar Css Start * */

.navbarTitle {
    color: #131318;
    font-family: "Manrope", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.navbarSpan {
    color: #ff4240;
    font-family: "Space Grotesk", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.navLink {
    color: #424247 !important;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-right: 44px;
}

.navLink:hover {
    color: #ff4240 !important;
}

.navTicket {
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #ff4240;
    color: #fff !important;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* * Hero Section Css Start * */

.hero-section {
    position: relative;
    height: 550px;
    background: url("./img/1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.hero-text-left {
    position: absolute;
    bottom: 32px;
    left: 32px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.hero-text-left-svg {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text-right {
    position: absolute;
    bottom: 32px;
    right: 32px;
    width: 566px;
    padding: 32px;
    border-radius: 16px;
    background: #131318;
}

.hero-text-right h1 {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hero-text-right p {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

/* * Facility Seciton Css Start * */

.facility-hr {
    border-top: 1px dashed rgba(19, 19, 24, 0.2);
    margin: 32px 0;
}
.facility-top-h2 {
    color: #131318;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.facility-top-p {
    color: rgba(19, 19, 24, 0.6);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.circle-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    background-color: #f2f2f2;
    overflow: hidden;
    text-align: center;
    margin: 0 10px;
    border: none;
}

.circle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
}

.circle-center-h2 {
    color: #131318 !important;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.facility-caption-h4 {
    color: #131318 !important;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.facility-caption-p {
    color: rgba(19, 19, 24, 0.6);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* * Program Card Seciton Css Start * */

.program-card {
    border-radius: 16px;
    background: rgba(19, 19, 24, 0.5);
}

.program-card-body {
    margin-top: 90px;
    z-index: 2;
}

.program-card h5 {
    color: #fff;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.program-card p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.program-card a {
    padding: 10px 22px;
    border-radius: 8px;
    border: 1px solid #ff4240;
    background: #ff4240;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.program-card-top-left {
    background: url(./img/2.png);
}
.program-card-top-right {
    background: url(./img/3.png);
}
.program-card-top {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.program-card-top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(19, 19, 24, 0.5);
    border-radius: 16px;
}

.program-card-bottom {
    background: url(./img/4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    position: relative;
}

.program-card-bottom::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(19, 19, 24, 0.5);
    border-radius: 16px;
}

.program-card-bottom .program-card-body {
    margin-top: 140px;
}

/* * Product Card Seciton Css Start * */

.product-card {
    background: #fff;
}

.product-card-img {
    width: 180px;
    height: 172px;
}

.card-body-right {
    gap: 16px;
}
.card-text2 {
    gap: 5px;
}
.product-text {
    padding-top: 2px;
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.product-card-title {
    color: #131318;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.product-card-text {
    color: rgba(19, 19, 24, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.product-price {
    color: #ff4240;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
}

.product-delivery-fee {
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* * Client Seciton Css Start * */

.client-row {
    border-radius: 16px;
    border: 1px solid rgba(19, 19, 24, 0.1);
}

.accordion-button {
    background-color: white !important;
    padding-left: 0;
}
.accordion-button-collapsed {
    background-color: white !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-button::after {
    background-image: url("./img/Frame.png");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("./img/Frame.png");
    transform: rotate(-180deg);
}

.accordion-button-one:not(.collapsed)::after {
    background-image: url("./img/Frame1.png");
    transform: rotate(-180deg);
}

.accordion-button:focus {
    border: none;
    outline: 0;
    box-shadow: none;
}

#accordion {
    margin-top: 10px;
}

.client-card {
    border: none;
    border-bottom: 1px solid rgba(19, 19, 24, 0.1);
}
.client-image {
    padding-top: 40px;
}

.client-title {
    color: #131318;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-link {
    text-decoration: none;
}
.card-header {
    border: none;
}

.client-p {
    width: 518px;
    color: rgba(19, 19, 24, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* * Form Seciton Css Start * */

.formBody-left {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(19, 19, 24, 0.1);
}

.formBody-right {
    padding: 30px;
}

.formCard {
    height: 216px;
    border-radius: 16px;
}

.formCardOne {
    background: rgba(188, 237, 109, 0.1);
}

.formCardTwo {
    background: rgba(253, 221, 95, 0.1);
}

.formCardThree {
    background: rgba(98, 156, 243, 0.1);
}

.formLabel {
    color: #131318;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.formInput {
    border-radius: 12px;
    background: rgba(19, 19, 24, 0.03);
    padding: 20px;
}

.formButton {
    padding: 15px 24px;
    border-radius: 12px;
    border: 1px solid #ff4240;
    background: #ff4240;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.formCard-subtitle {
    color: rgba(19, 19, 24, 0.4);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.formCard-title {
    color: #131318;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
}

/* * Social Media Css Start * */

.socialMedia {
    border-radius: 12px;
    background: rgba(19, 19, 24, 0.03);
    padding: 35px 0px;
}
.socialMediah2 {
    color: #131318;
    font-size: 24px;
}

/* *Footer Section Css Start * */
footer {
    background: #131318;

    color: white !important;
}

.footer-left {
    color: white !important;
}

.footer-left h1 {
    color: #fff;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-left p {
    width: 346px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.footer-right {
    color: white !important;
}

.footer-right h4 {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-right-list li {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

@media screen and (max-width: 600px) {
    .navbar-toggler {
        border: none;
    }

    .navbar {
        display: flex;
    }

    .navbarTitle {
        color: #131318;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .navbarSpan {
        color: #ff4240;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .navTicket {
        padding: 8px 17px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .hero-section {
        width: 335px;
        height: 200px;
        border-radius: 12px;
        border-radius: 12px;
    }

    .hero-text-right {
        display: none;
    }
    .hero-text-left {
        position: absolute;
        bottom: 12px;
        left: 122px;
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }

    .hero-text-right-mobile {
        display: flex;
        width: 335px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        border-radius: 12px;
        background: #131318;
    }

    .hero-text-right-mobile h1 {
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .hero-text-right-mobile p {
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    .facility-hr {
        margin: 0;
        margin-bottom: 24px;
    }

    .program-card-top,
    .program-card-bottom {
        height: 244px;
    }

    .program-card-body {
        margin-top: 0px !important;
        padding: 24px !important;
    }

    .program-card h5 {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .program-card p {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    .program-card a {
        padding: 8px 17px;
        border-radius: 8px;
        border: 1px solid #ff4240;
        background: #ff4240;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .programSection {
        margin-bottom: 16px !important;
    }

    .facility-top-h2 {
        color: #131318;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .facility-top-p {
        color: rgba(19, 19, 24, 0.6);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }
    .product-card-img-div {
        display: flex;
        justify-content: center;
    }

    .product-card-img {
        width: 287px;
        height: auto;
    }

    .card-body-span {
        margin-left: 24px;
        margin-top: 20px;
    }

    .card-body-text {
        margin-left: 24px;
    }

    .product-price-div {
        flex-direction: column;
        margin-left: 24px;
    }
    .accordion-bottom {
        margin: 0px !important;
    }

    .card-header h5 {
        border: none;
        color: #131318;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .card-header p {
        color: rgba(19, 19, 24, 0.6);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    .formBodyInner {
        display: flex;
        flex-direction: column;
    }

    .formLabel {
        color: #131318;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .socialMedia {
        width: 335px;
    }

    .footerContainer {
        margin: 0px !important;
    }

    .footer-first {
        margin-top: 40px;
    }

    .footer-last {
        margin-top: 40px;
    }

    .footer-left {
        justify-content: center;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .footer-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-first {
        flex-direction: row;
        justify-content: space-between;
        gap: 150px;
    }

    .footer-firstTwo {
        text-align: left !important;
    }

    .footer-last {
        align-items: end !important;
        text-align: left !important;
    }
}
